.book-like{

    height:  clamp(22px,2vw,30px);
    width:clamp(22px,2vw,30px);
    background-color:#F0F0F0; ;
    cursor: pointer;
       
    }
.book-like .likeIcon{

       font-size: 97%;
       color:rgb(66, 66, 66)

           
        }