.book-preview{
    max-width: 1440px;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center; 

   
}



.book-preview-image{
    /* width: 342px; */
    height:  clamp(250px,32vw,460px);
}

.book-background{
    background-color: var(--secondary-color);

    
    width:   clamp(250px,32vw,460px);
    height: clamp(250px,32vw,460px);

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  
}

.book-detail-container{
    width: 100%;
   margin-top: 50px;
   margin-bottom: 100px;
    height: auto;
    display: flex;
    justify-content: space-between;
    
}

.book-detail-container .book-description {

width: 60%;


}


/* .book-description .title{
    font-family:"Itim" , cursive;
    font-size: 40px;
} */

.price ,.author-name , .category {
    font-size: 16px;
    font-weight:600;
}

.category{
    color:rgb(203, 32, 32);
    font-weight: bold;
}
.price{
    color:var(--primary-color);
    font-weight: bold;
}

.small-details-container{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
   gap: 20px ;

   margin-top: 50px;
  
}
.call-to-action button{

    height: 55px;
    width: 256px;
  
}

.call-to-action .buy{
    background-color: var(--primary-color);
    color:white
}
.call-to-action .preview{
    border: 2px solid;
    border-color: var(--primary-color);
}

.small-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  
    text-align: center;
    
}

.small-details .detail-value{
    font-weight: 600;
   
}

.small-details .detail-name{
    margin-top: 10px;
}


.read-more {
    font-size: 14px;
    font-weight: 600;
    color: var(--primary-color);
    cursor: pointer;
}
.read-more:hover{
    text-decoration: underline;
}

.hide{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7; /* Number of lines to display */
    overflow: hidden;
    text-overflow: ellipsis;
    /* Adjust based on your line height */
     /* Adjust to fit the number of lines */  
}


@media (max-width:780px) {
    
    .book-detail-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    .book-detail-container .book-description{
        width: 100%;
      
    }
}